body {
    background-color: #004aac;
    font-family: Arial, sans-serif;
    color: white;
    background-image: url('https://i.ibb.co/WDh3pnW/bonus-2.png');
    background-size: cover;
    background-position: center 1px;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    color: gold;
}
#info{
    background-color: rgba(5, 24, 70, 0.75);
    padding: 4px;
    text-align: center;
}
#main_game_div{
    width: 40vmax;
    margin-left: 50%;
    transform: translate(-45%, 0);

    #game_focus{
        width: 90%;
        background-color: rgba(0, 0, 0, 0.33);
        border: 2px solid gold;
    }
}
#main_game_div h2 {
    transform: translate(-5%, 0);
        color: gold;
        text-align: center;
}
.img_box{
    margin-left: 15%;
    margin-right: 25%;
    top: 20%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14vh, 1fr));
    grid-gap: 10px;
    width: 70%;
    max-height: 70%;
    justify-items: center;
    align-items: center;
}
.img_box img {
    width: 100%;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.img_box img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 215, 0, 0.39);
}
@media (max-width: 1068px) {
    .img_box {
        grid-template-columns: repeat(auto-fill, minmax(10vh, 1fr)); /* smoler devices */
    }
    #main_game_div h2{
        font-size: 3vh;
    }
    #info{
        font-size: 2vh;
    }
    h1{
        font-size: 4vh;
    }
}

@media (max-width: 780px) {
    .img_box {
        grid-template-columns: repeat(auto-fill, minmax(8vh, 1fr)); /* smoller devices */
    }
}

#play{
    margin-left: 50%;
    transform: translate(-50%,0);
    color: white;
    font-weight: bold;
    background-color: black;
    border-radius: 10px;
    border-color: goldenrod;
    font-size: 4vh;
    transition: transform 0.3s ease;
    padding: 1vh;
    cursor: pointer;
}
#play:hover{
     transform: translate(-50%, 0) scale(1.2);
  transform-origin: center;
    color: gold;
}
#play:disabled {
    pointer-events: none;
    opacity: 0.5;
}

.no-click button{
    bottom: 20px;
}
.whole_game_div{
        position: absolute;
    z-index: 15;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;

}
#canvas_div{
    position: absolute;
    z-index: 30;
    display: none;
    background-color: #162f70;
    border: none;
}
@keyframes shake {
    0%, 100% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(-5px, 0);
    }
    50% {
        transform: translate(5px, 0);
    }
    75% {
        transform: translate(-5px, 0);
    }
}

#canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 15vmax;
    height: auto;
}

#typing {
    position: absolute;
    /*color: gold;*/
    font-size: 24px;
    white-space: nowrap;
    display: inline-block;
    left: 50%;
    transform: translate(-50%, 800%);
    font-weight: bold;
}


/*BONUS*/

#bonus_screen{
    display: none;
    position: fixed;
    background-color: #3556bd;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 300;
    top: -1px;
    left: -1px;
}
#bonus_screen h2{
    color: gold;
    font-size: 5vh;
}
#bonus_screen img{
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translate(0, -50%);
    width: 50vmax;
}
#canvas2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30vmax;
    height: auto;
}
@media (max-width: 1008px) {
    #bonus_screen img {
        width: 80vmax;
        left: 5%;
        top: 20%;
    }
    #canvas2 {
       width: 50vmax
    }
    #typing{
        font-size: 3vh;
    }
}

#win_amount{
    position: absolute;
    bottom: 5%;
    font-size: 1%;
    left: 50%;
    transform: translate(-50%, 0);
    color: red;
}